@model SignInViewModel;
@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{<link href="~/css/SignInForms.css" rel="stylesheet" />}

<div class="login-box">
    <div asp-validation-for="All" class="text-danger"></div>
    <form autocomplete="off" asp-action="SignIn" method="post">
        <h1>Sign In</h1>
        <div class="textbox">
            <i class="fas fa-user"></i>
            <input asp-for="Email" type="text" placeholder="Username" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="textbox">
            <i class="fas fa-unlock"></i>
            <input asp-for="PasswordHash" type="Password" placeholder="Password" />
            <span asp-validation-for="PasswordHash" class="text-danger"></span>
        </div>

        <input type="submit" value="Sign in" class="btn"/>
    </form>

</div>