@model SignUpViewModel;
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{<link href="~/css/SignInForms.css" rel="stylesheet" />}

<div class="login-box">
    <div asp-validation-for="All" class="text-danger"></div>
    <form autocomplete="off" asp-action="SignUp" method="post">
        <h1>Sign Up</h1>
        <div class="textbox">
            <i class="fas fa-user"></i>
            <input asp-for="Username" type="text" placeholder="Username" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="textbox">
            <i class="fas fa-envelope"></i>
            <input asp-for="Email" type="Email" placeholder="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="textbox">
            <i class="fas fa-lock"></i>
            <input asp-for="Password" type="Password" placeholder="Password"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="textbox">
            <i class="fas fa-unlock"></i>
            <input asp-for="ConfirmPassword" type="password" placeholder="Confirm-Wachtwoord"/>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <input type="submit" value="Register" class="btn"/>

    </form>

</div>


