
.vs/ProftaakRockstars/v16/.suo
DAL/DAL.csproj
DAL/obj/DAL.csproj.nuget.dgspec.json
DAL/obj/DAL.csproj.nuget.g.props
DAL/obj/Debug/netcoreapp3.1/DAL.assets.cache
DAL/obj/project.assets.json
DAL/obj/project.nuget.cache
Factory/obj/Debug/netcoreapp3.1/Factory.assets.cache
Factory/obj/Factory.csproj.nuget.dgspec.json
Factory/obj/Factory.csproj.nuget.g.props
Factory/obj/project.assets.json
Factory/obj/project.nuget.cache
Interfaces/obj/DALInterfaces.csproj.nuget.dgspec.json
Interfaces/obj/DALInterfaces.csproj.nuget.g.props
Interfaces/obj/Debug/netcoreapp3.1/DALInterfaces.assets.cache
Interfaces/obj/project.assets.json
Interfaces/obj/project.nuget.cache
Logic/obj/Debug/netcoreapp3.1/Logic.assets.cache
Logic/obj/Logic.csproj.nuget.dgspec.json
Logic/obj/Logic.csproj.nuget.g.props
Logic/obj/project.assets.json
Logic/obj/project.nuget.cache
ViewInterfaces/obj/Debug/netcoreapp3.1/ViewInterfaces.assets.cache
ViewInterfaces/obj/Debug/netcoreapp3.1/ViewInterfaces.csprojAssemblyReference.cache
ViewInterfaces/obj/project.assets.json
ViewInterfaces/obj/project.nuget.cache
ViewInterfaces/obj/ViewInterfaces.csproj.nuget.dgspec.json
ViewInterfaces/obj/ViewInterfaces.csproj.nuget.g.props
ViewInterfaces/obj/Debug/netcoreapp3.1/ViewInterfaces.assets.cache
ViewInterfaces/obj/Debug/netcoreapp3.1/ViewInterfaces.csprojAssemblyReference.cache
WebAPI/obj/Debug/WebAPI.vbprojAssemblyReference.cache
DAL/obj/Debug/netcoreapp3.1/DAL.assets.cache
DAL/obj/Debug/netcoreapp3.1/DAL.csprojAssemblyReference.cache
Factory/obj/Debug/netcoreapp3.1/Factory.assets.cache
Interfaces/obj/Debug/netcoreapp3.1/DALInterfaces.assets.cache
Logic/obj/Debug/netcoreapp3.1/Logic.assets.cache
ViewInterfaces/obj/Debug/netcoreapp3.1/ViewInterfaces.assets.cache
ViewInterfaces/obj/Debug/netcoreapp3.1/ViewInterfaces.csprojAssemblyReference.cache
WebAPI/obj/Debug/WebAPI.vbprojAssemblyReference.cache
.vs/ProftaakRockstars/v16/.suo
