@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link href="/css/coverflow.css" rel="stylesheet" type="text/css" />
    <script src="js/coverflow.js" defer></script>
    <script src="js/dropdown.js" defer></script>
    <script src="https://luwes.github.io/js-cover-flow/coverflow.js"></script>
</head>


<body>
    <p>
        <span class="tag">
            #CLOUD
        </span>
        <span class="tag">
            #ARTICLES
        </span>
        <span class="tag">
            #TECH
    </p>
    <div id="overlay"></div>

    <div id="popup">
        <iframe id="popup-frame" src="article-popup.html"></iframe>
    </div>

    <div id="container"></div>

    <p>
        <span class="tag">
            #TECH
        </span>
        <span class="tag">
            #PODCAST
        </span>
    </p>

    <div id="covers1"></div>

</body>