@{
    ViewData["Title"] = "Tag1";
}
<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>The HTML5 Herald</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <script src="https://luwes.github.io/js-cover-flow/coverflow.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="/js/coverflowTag1.js" defer></script>
    <script src="/js/dropdown.js" defer></script>


</head>

<body>




    <p>
        <span class="tag">
            #CLOUD
        </span>
    </p>





    <div id="overlay"></div>

    <div id="popup">
        <iframe id="popup-frame" src="article-popup.html"></iframe>
    </div>

    <div id="container"></div>

    <p>
        <span class="tag">
            #TECH
        </span>
        <span class="tag">
            #PODCAST
        </span>
    </p>

    <div id="covers1"></div>



</body>

</html>