html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#popup-content {
    background-color: rgba(35, 35, 35, 100%);
    height: 100%;
    width: 100%;
    margin: 0px;
    border: 0px;
}

#cover-container {
    height: 20%;
    width: 100%;
    background-position: center;
    padding: 0px;
    margin: 0px;
}

#titlecontainer {
    color: white;
    text-align: center;
    margin-top: .5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#title {
    margin: 0px;
    font-size: 1.3rem;
}

#author {
    margin: .5rem;
}


/* #cover-image {
    height: 20%;
    width: 100%;
    background-size: contain;
} */