#myVideo{
    min-width: 100vw;
    min-height: 100vh;
    object-fit: cover;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
     align-items: center;
    /*justify-content: center; */
    flex-direction: column;
    color:rgb(0, 0, 0);
    font-size: 200px;
}