<section class="hero">
    <div class="herocontainer">
        <figure class="heroimage">
            <a href="/oud/coverflow/index.html">
                <img src="https://www.hboictjobevent.nl/afbeeldingen/rst-073-logo-team-rockstars-it-nobackground/76/432/768x768">
            </a>
        </figure>

        <div class="titlebox">

            <h1 class="title titletext">
                TECHBURST
            </h1>

            <h2 class="subtitle titletext">
                DON'T KEEP IT IN THE BUBBLE - BURST IT
            </h2>
        </div>
    </div>

</section>