<ul class="navbar">
    <li><a href="/oud/coverflow/index.html">Home</a></li>
    <li> <button class = "dropbtn" onclick="myFunction()"> Categories </button>
        <div id="myDropdown" class ="dropdown-content">
            <a href="/oud/coverflow/tag1.html">Cloud</a>
            <a href="/oud/coverflow/tag2.html">Articles</a>
            <a href="/oud/coverflow/tag3.html">Tech</a>
        </div>
    </li>

    <li><a href="/oud/coverflow/contact.html">Contact</a></li>
    <li><a href="/oud/coverflow/public/articlecreate.html">Artikel maken</a></li>
    <li><a href="/oud/coverflow/public/article.html">Artikel kijken</a></li>

</ul>