<body>
    <header class="fix">

        <video src="../video/team-rockstars-it-hoofdkantoor-den-bosch.mp4" class="vid-bg" type="video/mp4" autoplay muted loop></video>
        <ul class="navbar">
            <li><a href="../public/newindex.html">Home</a></li>
            <li><a href="../public/articlecreate.html">Artikel maken post</a></li>
            <li><a href="../public/article.html">Artikel kijken get </a></li>
            <li><a href="../public/articlesNew.html">Artikels kijken</a></li>
        </ul>
        <!-- <div class="nav-area">
            <div class="logo"><span>T</span>eam Rockstars</div>
            <ul class="menu-area">
                <li class="active"><a href="../public/index.html">Home</a></li>
                <li><a href="../public/articlecreate.html">Artikel maken Post</a></li>
                <li><a href="../public/article.html">Artikel kijken Get</a></li>
                <li><a href="/public/articles-shuffle.html">Artikels kijken</a></li>
            </ul>
        </div> -->
        <div class="banner-overlay"></div>
        <div class="banner-container">
            <div class="banner-text">
                <h2>Wij zijn <span>Team Rockstars</span></h2>
                <p>Wij geloven dat gelukkige developers de grootste impact maken bij bedrijven, ongeacht het type IT-project, de ambitie van de developer en de vraag van de klant.</p>
            </div>
        </div>
    </header>
</body>