<ul class="navbar">
    <li><a href="../public/index.html" >Home</a></li>
    <li> <button class="dropbtn" onclick="myFunction()"> Categories </button>
        <div id="myDropdown" class="dropdown-content">
            <a href="../public/tag1.html">Cloud</a>
            <a href="../public.tag2.html">Articles</a>
            <a href="../public/tag3.html">Tech</a>
        </div>
    </li>

    <li><a href="../public/articlecreate.html">Artikel maken</a></li>
    <li><a href="/oud/coverflow/public/article.html">Artikel kijken</a></li>

</ul>